
{{> nav2 active}}
<div class="container mt-5">
<h1>Problems Listing</h1>
<h3>Listed below are the currently ongoing problems</h3>
<h4>Please click on a row to edit that entry</h4>
</div>
<div class="container-fluid mt-5" style="width: 90%;">
        <table id="problist" class="display table-striped table-bordered">
            <thead>
                <tr>
                    <th>Problem Id</th>
                    <th>Unit No.</th>
                    <th>Contact No.</th>
                    <th>Problem Type</th>
                    <th>Problem Description</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
            {{#each problist}}
             <tr>
                 <td>{{problemid}}</td>
                <td>{{tenant.unit.unitno}}</td>
                <td>{{tenant.contactno}}</td>
                <td>{{problemtype}}</td>
                <td>{{problemdesc}}</td>
                <td>{{status}}</td>

            </tr>
{{/each}}
            </tbody>
            </table>
          </div>
<div id= "probmodal"class="modal" role="dialog" role = "document">
    <div class="modal-dialog">
<div class = "modal-content">
    <div class="modal-header">
        <h4 class = "modal-title text-center">Registrant Information</h4>
    </div>
    <div class="modal-body">
        <form id="editPform">
        <div class="form-group">
       
        <div class="form-group">
        <label>Problem Id</label>
        <div>
        <input type="number" id="eprobid" class= "form-control input-lg" readonly>
        </div>
        </div>
        <div class="form-group">
        <label>Unit No.</label>
        <div>
        <input type="number" id="eprobunit" class= "form-control input-lg" readonly>
        </div>
        </div>
         <div class="form-group">
        <label>Contact no.</label>
        <div>
        <input type="phone" id="eprobphone" class= "form-control input-lg" readonly>
        </div>
        </div>
        <div class="form-group">
        <label>Problem Type</label>
        <div>
        <input type="text" id="eprobtype" class= "form-control input-lg" readonly>
        </div>
        </div>
         <label>Problem Description</label>
        <div>
        <input type="text" id="eprobdes" class= "form-control input-lg" readonly>
        </div>
        </div>
        <div class="form-group">
        <label>Status</label>
        <div>
           <select id="eprobstat" class= "form-control input-lg">
            <option value="Sent to Landlord">Sent to Landlord</option>
            <option value="Contacting Agent">Contacting Agent</option>
            <option value="Discussing options of fixing">Discussing options of fixing</option>
            <option value="Agent on the way">Agent on the way</option>
            <option value="On going">On going</option>
            <option value="Solved">Solved</option>
            </select>
        </div>
        </div>
 
           <div class="form-group">
          <button type="button" id="probedit"class="btn btn-success btn-block">Submit Edit</button>
                    </div>
                     <div class="form-group">
          <button type="button" id="btnpdelete"class="btn btn-danger btn-block">Delete</button>
            </div>
    </form>
    </div>
    </div>
    </div>
</div>