
{{> nav2}}
<div class="container-fluid mt-5" style="width: 90%;">
        <table id="reglist" class="display table-striped table-bordered">
            <thead>
                <tr>
                    <th>Registration Number</th>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Contact Number</th>
                    <th>Desired Unit Number</th>
                    <th>Scheduled day of checking</th>
                    <th>Ideal day of payment</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
            {{#each reglist}}
             <tr>
                 <td>{{regisno}}</td>
                <td>{{fullname}}</td>
                <td>{{email}}</td>
                <td>{{contactno}}</td>
                <td>{{desunit.unitno}}</td>
                <td>{{dayCheck}}</td>
                <td>{{daypayment}}</td>
                 <td>{{status}}</td>
            </tr>
{{/each}}
            </tbody>
            </table>
          </div>
<div id= "regismodal"class="modal" role="dialog" role = "document">
    <div class="modal-dialog">
<div class = "modal-content">
    <div class="modal-header">
        <h4 class = "modal-title text-center">Registrant Information</h4>
    </div>
    <div class="modal-body">
        <form  id="editreg">
        <div class="form-group">
       <div class="form-group">
        <label>Registration Number</label>
        <div>
        <input type="text" id="eregno" class= "form-control input-lg" readonly>
        </div>
        </div>
        <div class="form-group">
        <label>Name</label>
        <div>
        <input type="text" id="eregname" class= "form-control input-lg" readonly>
        </div>
        </div>
        <div class="form-group">
        <label>Email Address</label>
        <div>
        <input type="text" id="eregemail" class= "form-control input-lg" readonly>
        </div>
        </div>
        <div class="form-group">
        <label>Contact Number</label>
        <div>
        <input type="text" id="eregcon" class= "form-control input-lg" readonly>
        </div>
        </div>
         <label>Unit No</label>
        <div>
        <input type="text" id="eregunit" class= "form-control input-lg" readonly>
        </div>
        </div>
        <div class="form-group">
        <label>Scheduled Day of Checking</label>
        <div>
        <input type="text" id="eregday" class= "form-control input-lg" readonly>
        </div>
        </div>
  <div class="form-group">
        <label>Ideal Day of Payment</label>
        <div>
        <input type="text" id="eideal" class= "form-control input-lg" readonly>
        </div>
        </div>
        <div class="form-group">
        <label>Status</label>
        <div>
        <select id="eregstatus" class= "form-control input-lg">
            <option value="Pending">Pending</option>
            <option value="Accepted">Accepted</option>
            <option value="Rejected">Rejected</option>
            </select>
        </div>
        </div>
      
        
           <div class="form-group">
          <button type="button" id= "edrsub" class="btn btn-success btn-block">Submit Edit</button>
                    </div>
    </form>
    </div>
    </div>
    </div>
</div>