{{> nav2}}
<div class="container-fluid mt-5" style="width: 90%;">
        <table id="tenantlist" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Day of Payment</th>
                    <th>Unit Number</th>
                    <th>Rent</th>
                    <th>Months Missed</th>
                    <th>No. of Family Members</th>
                </tr>
            </thead>
            {{#each tenants}}
             <tr>
                <td>{{Name}}</td>
                <td>{{daypayment}}</td>
                <td>{{UnitNo}}</td>
                <td>{{Rent}}</td>
                <td>{{Momis}}</td>
                <td>{{FamilyNo}}</td>
            </tr>
{{/each}}
            </tbody>
            </table>
          </div>
